<!--  RMIT University Vietnam
  Course: COSC2430 Web Programming
  Semester: 2023A
  Assessment: Assignment 1
  Author: Tran Phan Trong Phuc
  ID: 3979081
  Acknowledgement: https://codepen.io/markheggan/pen/LjrVYN, https://codepen.io/ananyaneogi/pen/Bgozrz, https://www.svgrepo.com
-->