.category,.category #button{position:relative}.category #button .cover:after,.category #button .cover:before{content:"";position:absolute;z-index:200;width:2px;height:50%;background:#fff;transition:.3s ease-in-out}.category{display:flex;flex-direction:column;justify-content:space-between;align-items:center;margin:0;background:#222;background-image:repeating-linear-gradient(to bottom,transparent 7px,rgba(0,0,0,.8) 9px,rgba(0,0,0,.8) 13px,transparent 13px);padding:0 0 4rem}.category:before{content:"";position:absolute;bottom:.2%;width:70%;height:.5vh;background:#1f1f1f}.category #button .button{z-index:200}.category #button .button button{background-color:transparent;color:#fff;padding:.5rem 1rem;font-family:Montserrat,sans-serif;font-size:1rem;font-weight:300;border:none;position:relative;transition:.3s ease-in-out;z-index:200}.category #button .cover{position:absolute;top:0;width:100%;height:100%;background:linear-gradient(to right,#fff 50%,transparent 50%) top,linear-gradient(to left,#fff 50%,transparent 50%) bottom;background-repeat:no-repeat;background-size:100% 2px;transition:.3s ease-in-out}.category #button .cover:after{right:0;bottom:0}.category #button .cover:before{left:0;top:0}.category #button .button button:hover{cursor:pointer;background-color:#00ff78;color:#000;scale:1.1;box-shadow:0 0 25px 3px #00fF788d;transition:.3s ease-in-out}.category #button .button:hover+.cover{scale:1.1;opacity:0;transition:.3s ease-in-out}


.category #button {
  position: relative;
}

.category #button .button {
  z-index: 300;
}

.category #button .button button{
  background-color: transparent;
  color: #FFF;
  padding: 0.5rem 1rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  border: none;
  position: relative;
  transition: all 0.3s ease-in-out;
  z-index: 300;
}

.category #button .cover {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background:linear-gradient(to right, #FFF 50%, transparent 50%) top,
  linear-gradient(to left, #FFF 50%, transparent 50%) bottom;
  background-repeat: no-repeat;
  background-size:100% 2px;
  transition: all 0.3s ease-in-out;
}

.category #button .cover:after {
  content : "";
  position: absolute;
  right    : 0;
  z-index: 300;
  bottom  : 0;
  width  : 2px;
  height   : 50%;
  background: #FFF;
  transition: all 0.3s ease-in-out;
}

.category #button .cover:before {
  content : "";
  position: absolute;
  left    : 0;
  z-index: 300;
  top  : 0;
  width  : 2px;
  height   : 50%; 
  background: #FFF;
  transition: all 0.3s ease-in-out;
}



.category #button .button button:hover {
  cursor: pointer;
  background-color: #00FF78;
  color: #000;
  scale: 1.1;
  box-shadow: 0px 0px 25px 3px #00FF788d;
  transition: all 0.3s ease-in-out;
}

.category #button .button:hover + .cover {
  scale: 1.1;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.footer_title p {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.75rem;
  font-weight: 300;
  margin: 0;
  color: #fff;
}

.social_networks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.social_networks .icon {
  width: 1rem;
  height: 1rem;
  display: block;
}

dark brick {
background: #112 url(//images.weserv.nl/?url=i.imgur.com/6QJjYMe.jpg)  center no-repeat;
background-size:cover;
margin:0
}
