* {
    box-sizing: border-box;
}

/* Colors:
    #890DFF - purple
    #0C0CE8 - dark blue
    #0080FF - blue
    #00EAEB - cyan
    #00FF78 - green
 */

body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-color: black;
    color:white;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: white;
}

ul {
    margin: 0;
}

li {
    list-style: none;
    padding-inline-start: 0;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

.category_title button, input, select, textarea {
  font: inherit;
  margin: 0;
}

.category_title input {
  line-height: normal;
}

textarea {
  overflow: auto;
}


main {
    position: relative;
    background-image: url("https://drive.google.com/uc?export=view&id=1F2fPNNonEmj1ohhOGIOW2Xzk1xMkdoFh");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #141414;
    padding-bottom: 1rem;
    border-bottom: 0.5vh ridge #000000;
}

/* Header */

header {
    background-color: #0F0F0F;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: larger;
    border-bottom: 0.5vh ridge #000000;
    
}

.header_logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    position: relative;
    padding: 1rem 1.5rem 0.5rem;
    align-items: center;
    gap: 1rem;
}

.header_logo img {
    width: 25%;
}

.header_logo .mobile_logo {
    display: none;
}

.header_logo svg {
    color: #ffffff;
    width: 3rem;
    height: 3rem;
    outline: transparent;
    border: none;
    transition: 0.3s; /* add a smooth transition when changing the color */
  }

#shopping_cart_icon {
    padding-top: 0.4rem;
    padding-left: 0.45rem;
    width: 3.2rem;
    height: 3.2rem;
  }
.header_nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0 6rem;
    margin: 0;
}

.header_nav ul li {
    position: relative;
}

.header_nav ul li a {
    display: inline-block;
    position: relative;
    padding: 1rem;
}

/* Elements with an effect */

.header_logo .search_bar:hover{
    box-shadow: 0px 0px 15px 2px #adadad8d;
}

.header_logo .search_bar:focus {
    scale: 1.1;
    box-shadow: 0px 0px 15px 2px #adadad8d;
}

#search_icon {
    display: none;
}

#hamburger_icon {
    display: none;
}

#heart_icon:hover {
    color: rgb(255, 69, 69);
    transition: all 0.3s ease-in-out;
}

#shopping_cart_icon:hover {
    color: rgb(0, 226, 0);
    transition: all 0.3s ease-in-out;
}

#user_icon:hover {
    color: rgb(93, 93, 255);
    transition: all 0.3s ease-in-out;
}

.header_nav ul li a:after{    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #0DFFF8;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
.header_nav ul li a:hover:after { 
    width: 100%; 
    left: 0; 
  }
.header_nav ul li a:hover {
    color: #0DFFF8;
    transition: all 0.3s ease-in-out;
 }

/* Breadcrumb & Title */

.breadcrumb ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
    padding-top: 1rem;
}

.breadcrumb ul li {
    display: inline-block;
    position: relative;
    padding: 0 1rem;
}

.breadcrumb ul li:not(:last-child) {
    border-right: 1px solid #fff;
}

.breadcrumb ul li a {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 300;
}

.breadcrumb ul li:not(:last-child) a {
    color: #8d8d8d;
}


.description {
    display: flex;
    position: relative;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 2.5rem;
    font-weight: 500;
    margin: 0;
    padding-bottom: 3rem;
    color: #c6e2ff;
    animation: neon .08s ease-in-out infinite alternate;
}

.description h2 {
    margin: 0;
}

@keyframes neon {
    from {
      text-shadow:
      0 0 6px rgba(116,1,255,0.92),
      0 0 30px rgba(116,1,255,0.34),
      0 0 12px rgba(214,12,224,0.52),
      0 0 21px rgba(214,12,224,0.92),
      0 0 34px rgba(214,12,224,0.78),
      0 0 54px rgba(214,12,224,0.92);
    }
    to {
      text-shadow:
      0 0 6px rgba(116,1,255,0.98),
      0 0 30px rgba(116,1,255,0.42),
      0 0 12px rgba(214,12,224,0.58),
      0 0 22px rgba(214,12,224,0.84),
      0 0 38px rgba(214,12,224,0.88),
      0 0 60px rgba(214,12,224,1);
    }
  }

/* Form */

.form_container {
    border: solid 0.131rem #bdbdbd;
    background-color: #000000;
    max-width: 70rem;
    margin: 0rem auto 3rem;
    position: relative;
    box-shadow: 0px 0px 15px 2px #adadad8d;
}

form {
  padding: 2.34375rem;
  margin: 3.125rem 0;
}


input[type='text'], [type='email'], select, textarea {
    background: none;
    border: none;
    border-bottom: solid 0.125rem #bdbdbd;
    color: #7e7978;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.0625rem;
    margin: 0 0 1.875rem 0;
    padding: 0 0 0.875rem 0;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.3s;
}

.category_title input[type='text']:focus, [type='email']:focus, textarea:focus, select:focus {
    color: #fff;
    outline: none;
    padding: 0 0 0.875rem 0;
}

select{
    color: #fff;
}

textarea {
    line-height: 150%;
    height: 12rem;
    resize: none;
    margin-top: 1rem;
  }

.purpose {
    width: 100%;
}

legend , label {
    background: none;
    border: none;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.0625rem;
    margin: 1rem auto;
    padding: 0 0 0.875rem 0;
    width: 100%;
    box-sizing: border-box;
}

.radio_label, .checkbox_label {
    font-size: 1.2rem;
    font-weight: 400;
    margin-right: 1.5rem;
    cursor: pointer;
}

.contact_preference, .newsletter {
    padding-bottom: 1.5rem;
}


.checkbox_group,
.radio_group {
    position: relative;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 1rem;
    height: 1rem;
    border: 2px solid #7b7b7b;
    border-radius: 2px;
    margin-right: 0.5rem;
    outline: none;
    transition: border-color 0.3s ease;
}

textarea:focus {
    background-color: #131313;
}

.checkbox_group:checked,
.radio_group:checked {
    border-color: #fff;
    background-color: #fff;
}

.checkbox_group:checked::before,
.radio_group:checked::before {
    position: absolute;
    content: "\2713";
    display: inline-block;
    font-size: 1.3rem;
    font-weight: bold;
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    color: #000;
    transition: color 0.3s ease;
    left:-0.2rem;
}

.submit_buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.submit_buttons button {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0.75rem 1.875rem 0.813rem;
    background-color: #fff;
    border: 0;
    border-radius: 2px;
    color: #000;
    line-height: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.163rem;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    width: 10rem;
    margin: 0rem 2rem 1rem;
    transition: all 0.3s ease-in-out;
}

.submit_buttons [type='reset'] {
    border: 2px solid #d7d7d7;
    padding: 11px 29px 12px;
    background-color: #0e0e0e;
    color: #fff;
}

/* Elements with an effect */

.category_title input[type='text']:hover, [type='email']:hover {
    border-bottom: solid 0.125rem #fff;
}

.checkbox_group:hover,
.radio_group:hover {
  border-color: #fff;
}

.submit_buttons button:hover {
    scale: 1.1;
    box-shadow: 0px 0px 15px 2px #adadad8d;
}

/* Footer */

footer {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0F0F0F;
    position: relative;
}

.footer_title h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    margin: 1rem 0;
    /* https://codepen.io/ananyaneogi/pen/Bgozrz */
    text-shadow: 0 0 5px #890DFF, 0 0 15px #890DFF, 0 0 20px #890DFF, 0 0 40px #890DFF, 0 0 60px #0080FF, 0 0 10px #0C0CE8, 0 0 98px #0080FF;
    color: #0CE8E8;
}

.footer_title p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
    margin: 0;
    margin-bottom: 1.5rem;
    color: #fff;
}

.social_networks {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 1rem 0;
    padding: 0;
}

.social_networks .icon {
    width: 2rem;
    height: 2rem;
    color: #fff;
    display: block;
    transition: all 0.3s ease-in-out;
}

.footer_list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 50%;
    height: 30%;
    margin: 1rem 0;
}

.footer_info ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:flex-start;
    margin: 0;
    padding: 0;
}

.footer_info ul h3 {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0.5rem 0;
    color: #fff;
}

.footer_info ul li {
    margin: 0.3rem 0;
}

.footer_info ul a {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    margin: 5rem 0;
    color: #fff;
}

/* Elements with an effect */

.social_networks .icon.facebook:hover {
    color: #3b5998;
}

.social_networks .icon.twitter:hover {
  color: #1da1f2;
}

.social_networks .icon.pinterest:hover {
  color: #bd081c;
}

.social_networks .icon.instagram:hover {
    color: #DD2A7B;
}

.social_networks .icon.youtube:hover {
  color: #ff0000;
}

.footer_info ul a:hover {
    color: #0CE8E8;
    text-shadow: 0 0 5px #0daaff, 0 0 15px #0daaff, 0 0 20px #0daaff, 0 0 40px #0daaff, 0 0 60px #00ff80, 0 0 10px #0ce8c0, 0 0 98px #00ff80;
}

/* Search bar fix */
.header_logo .search_bar {
    margin: 0;
    width: 35rem;
    height: 2.5rem;
    border-radius: 1.3rem;
    outline: transparent;
    margin-right: 2rem;
    border: none; 
    font-size: 1.2rem;
    padding: 0.5rem 1.25rem;
    background-color: #f1f1f1;
    justify-items: center;
    font-family: 'Quicksand', sans-serif;
    margin-left: auto;
    transition: all 0.3s ease-in-out;
}



/* Mobile version of the website */

@media only screen and (max-width: 768px) {
    /* Header */
    .header_nav {
        display: none;
        position: absolute;
        z-index: 100;
        width: 100%;
        height: 22rem;
        background-color: #0F0F0F;
        top: 3.8rem;
        left: 0;
    }
    
    .header_nav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        height: 100vh;
        margin: 0;
        padding: 0;
        list-style: none;
        position: absolute;
        top: -50%;
        left: 0;
        transition: 0.3s;
    }

    header {
        position: relative;
    }

    .header_logo .search_bar {
        display: none;
    }

    .header_logo img{
        display: none;
    }
    .header_logo .mobile_logo {
        display: block;
        width: 10%;
        margin-right: 6rem;
    }
    #search_icon {
        display: block;
    }

    #hamburger_icon {
        display: block;
        position: absolute;
        top: 30%;
        left: 18%;
        color: #ffffff;
        width: 2rem;
        height: 2rem;
        outline: transparent;
        border: none;
        transition: 0.3s; /* add a smooth transition when changing the color */
        z-index: 100;
    }
    .header_logo svg {
        width: 2rem;
        height: 2rem;
    }
    #shopping_cart_icon {
        padding-top: 0.2rem;
        padding-left: 0.25rem;
        width: 2.2rem;
        height: 2.2rem;
    }

    .book_banner {
        display: none;
    }

    /* Elements with an effect */
    #hamburger_icon:hover + .header_nav, .header_nav:hover {
        display: block;
    }

    /* Breadcrum & Title */

    .description {
        font-size: 1.7rem;
        font-weight: 500;
        margin: 0;
        padding-bottom: 3rem;
    }

    /* Form */

    input[type='text'], [type='email'], select, textarea {
        font-size: 1rem;
        font-weight: 500;
        letter-spacing: 0.0625rem;
        margin: 0 0 1.875rem 0;
        padding: 0 0 0.875rem 0;
        width: 100%;
    }

    legend , label {
        font-size: 1rem;
        font-weight: 500;
        letter-spacing: 0.0625rem;
        margin: 1rem auto;
        padding: 0 0 0.875rem 0;
    }

    .radio_label, .checkbox_label {
        font-size: 0.8rem;
        font-weight: 400;
        margin-right: 1.5rem;
        cursor: pointer;
    }

    .submit_buttons button {
        padding: 0.7rem 1.8rem 0.8rem;
        line-height: 1rem;
        font-family: 'Montserrat', sans-serif;
        font-size: 0.8rem;
        font-weight: 600;
        letter-spacing: 0.163rem;
        cursor: pointer;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        width: 10rem;
        margin: 0rem 1rem 1rem;
        transition: all 0.3s ease-in-out;
    }

    /* Category */
    .category .title .title_1{
        text-align: center;
        font-size: 1.8rem;
        font-weight: 500;
    }
    .category .title .title_2{
        text-align: center;
        font-size: 1.8rem;
        font-weight: 500;
    }
    .category .title .title_3{
        text-align: center;
        font-size: 1.8rem;
        font-weight: 500;
    }
    .category .title .title_4{
        text-align: center;
        font-size: 1.8rem;
        font-weight: 500;
    }

    .category .book_list {
        width: 100%;
        height: 26rem;
        overflow: scroll;
    }
    .category .book {
        height: 24rem;
    }

    .category #title {
        font-size: 1rem;
        font-weight: 500;
        text-align: center;
    }
    
    .category #by {
        font-size: 0.6rem;
        font-weight: 300;
        text-align: center;
    }
    
    .category #price {
        font-family: 'Montserrat', sans-serif;
        font-size: 0.8rem;
        font-weight: 500;
        text-align: center;
    }

    .category #button .button button {
        padding: 0.3rem 1rem;
        font-family: 'Montserrat', sans-serif;
        font-size: 0.7rem;
        font-weight: 400;
    }
    .category #button .cover {
        background-size:100% 1px;
    }
    .category #button .cover:after {
        width  : 1px;
    }
    .category #button .cover:before {
        width  : 1px;
    }

    /* Footer */
    .footer_title p {
        margin: 0rem 1rem 1.5rem;
    }

    .footer_list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        margin: 1rem;
    }

    .footer_info ul {
        align-items: center;
    }
}