* {
    box-sizing: border-box;
}

/* Colors:
    #890DFF - purple
    #0C0CE8 - dark blue
    #0080FF - blue
    #00EAEB - cyan
    #00FF78 - green
 */

body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-color: black;
    color:white;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: white;
}

ul {
    margin: 0;
}

li {
    list-style: none;
    padding-inline-start: 0;
}

main {
    position: relative;
    background: #0f0f0f;
    background-image: repeating-linear-gradient(
      to bottom,
      transparent 7px,
      rgba(0, 0, 0, 0.8) 9px,
      rgba(0, 0, 0, 0.8) 13px,
      transparent 13px
    ); 
}

/* Header */

header {
    background-color: #0F0F0F;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: larger;
    border-bottom: 0.5vh ridge #000000;
    
}

.header_logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    position: relative;
    padding: 1rem 1.5rem 0.5rem;
    align-items: center;
    gap: 1rem;
}

.header_logo img {
    width: 25%;
}

.header_logo .mobile_logo {
    display: none;
}

.header_logo .search_bar {
    width: 35rem;
    height: 2.5rem;
    border-radius: 1.3rem;
    outline: transparent;
    margin-right: 2rem;
    border: none; 
    font-size: 1.2rem;
    padding: 0.5rem 1.25rem;
    background-color: #f1f1f1;
    justify-items: center;
    font-family: 'Quicksand', sans-serif;
    margin-left: auto;
    transition: all 0.3s ease-in-out;
}
.header_logo svg {
    color: #ffffff;
    width: 3rem;
    height: 3rem;
    outline: transparent;
    border: none;
    transition: 0.3s; /* add a smooth transition when changing the color */
  }

#shopping_cart_icon {
    padding-top: 0.4rem;
    padding-left: 0.45rem;
    width: 3.2rem;
    height: 3.2rem;
  }
.header_nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0 6rem;
    margin: 0;
}

.header_nav ul li {
    position: relative;
}

.header_nav ul li a {
    display: inline-block;
    position: relative;
    padding: 1rem;
}

/* Elements with an effect */

.header_logo .search_bar:hover{
    box-shadow: 0px 0px 15px 2px #adadad8d;
}

.header_logo .search_bar:focus {
    scale: 1.1;
    box-shadow: 0px 0px 15px 2px #adadad8d;
}

#search_icon {
    display: none;
}

#hamburger_icon {
    display: none;
}

#heart_icon:hover {
    color: rgb(255, 69, 69);
    transition: all 0.3s ease-in-out;
}

#shopping_cart_icon:hover {
    color: rgb(0, 226, 0);
    transition: all 0.3s ease-in-out;
}

#user_icon:hover {
    color: rgb(93, 93, 255);
    transition: all 0.3s ease-in-out;
}

.header_nav ul li a:after{    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #0DFFF8;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
.header_nav ul li a:hover:after { 
    width: 100%; 
    left: 0; 
  }
.header_nav ul li a:hover {
    color: #0DFFF8;
    transition: all 0.3s ease-in-out;
 }

/* Breadcrumb & Title */

.breadcrumb ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
    padding-top: 1rem;
}

.breadcrumb ul li {
    display: inline-block;
    position: relative;
    padding: 0 1rem;
}

.breadcrumb ul li:not(:last-child) {
    border-right: 1px solid #fff;
}

.breadcrumb ul li a {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 300;
}

.breadcrumb ul li:not(:last-child) a {
    color: #8d8d8d;
}

.category_title {
    background-image: url("https://drive.google.com/uc?export=view&id=1F2fPNNonEmj1ohhOGIOW2Xzk1xMkdoFh");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #141414;
    border-bottom: 0.5vh ridge #000000;
}

.description {
    display: flex;
    position: relative;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 2.5rem;
    font-weight: 500;
    margin: 0;
    padding-bottom: 3rem;
    color: #c6e2ff;
    animation: neon .08s ease-in-out infinite alternate;
}

.description h2 {
    margin: 0;
}

@keyframes neon {
    from {
      text-shadow:
      0 0 6px rgba(116,1,255,0.92),
      0 0 30px rgba(116,1,255,0.34),
      0 0 12px rgba(214,12,224,0.52),
      0 0 21px rgba(214,12,224,0.92),
      0 0 34px rgba(214,12,224,0.78),
      0 0 54px rgba(214,12,224,0.92);
    }
    to {
      text-shadow:
      0 0 6px rgba(116,1,255,0.98),
      0 0 30px rgba(116,1,255,0.42),
      0 0 12px rgba(214,12,224,0.58),
      0 0 22px rgba(214,12,224,0.84),
      0 0 38px rgba(214,12,224,0.88),
      0 0 60px rgba(214,12,224,1);
    }
  }

/* Ad banner */
main img {
    width: 100%;
}
/* Category */

.category {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 0;
    background: #0f0f0f;
    background-image: repeating-linear-gradient(
      to bottom,
      transparent 7px,
      rgba(0, 0, 0, 0.8) 9px,
      rgba(0, 0, 0, 0.8) 13px,
      transparent 13px
    );
    padding: 0 0 4rem;
  }

.category:before {
    content: "";
    position: absolute;
    bottom: 0.2%;
    width: 70%;
    height: 0.5vh;
    background: #1f1f1f;
}


.category:last-child:before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0.5vh;
    background: #1f1f1f;
}

.category .title {
    display: flex;
    flex-direction: row;
    left: 0;
    width: 100%;
    padding: 3rem 6rem;
}



.category .title .title_1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 2.5rem;
    font-weight: 500;
    margin: 0;
    /* https://codepen.io/ananyaneogi/pen/Bgozrz */
    text-shadow: 0 0 5px #890DFF, 0 0 15px #890DFF, 0 0 20px #890DFF, 0 0 40px #890DFF, 0 0 60px #0080FF, 0 0 10px #0C0CE8, 0 0 98px #0080FF;
    color: #0CE8E8;
}

.category .title .title_2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 2.5rem;
    font-weight: 500;
    margin: 0;
    /* https://codepen.io/ananyaneogi/pen/Bgozrz */
    text-shadow: 0 0 5px #7401FF, 0 0 15px #7401FF, 0 0 20px #7401FF, 0 0 40px #7401FF, 0 0 60px #ff058a, 0 0 10px #D60CE8, 0 0 98px #ff058a;
    color: #dfc4ff;
}

.category .title .title_3 {
    font-family: 'Quicksand', sans-serif;
    font-size: 2.5rem;
    font-weight: 500;
    margin: 0;
    /* https://codepen.io/ananyaneogi/pen/Bgozrz */
    text-shadow: 0 0 5px #FF0582, 0 0 15px #FF0582, 0 0 20px #FF0582, 0 0 40px #FF0582, 0 0 60px #5401FF, 0 0 10px #BD0CE8, 0 0 98px #5401FF;
    color: #dbc3ff;
}


.category .book_list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0rem 6rem;
}

.category .book {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: calc((100% / 4) - 4rem);
    height: 29.35rem;
    transition: all 0.3s ease-in-out;
}

.category .book img {
    width: 100%;
    object-fit: fill;
    aspect-ratio: 6 / 9;
    box-shadow: 0px 3px 25px 3px #0080ff8d;
    transition: all 0.3s ease-in-out;
}

.category #title {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
    text-align: center;
    margin: 1.5rem auto 0.5rem;
    transition: all 0.3s ease-in-out;

}

.category #by {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.75rem;
    font-weight: 300;
    text-align: center;
    margin: 0 auto;
}

.category #price {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
}

.category #button .cover:after,.category #button .cover:before{content:"";position:absolute;z-index:300;width:2px;height:50%;background:#fff;transition:.3s ease-in-out}.category #button{position:relative}.category #button .button{z-index:300}.category #button .button button{background-color:transparent;color:#fff;padding:.5rem 1rem;font-family:Montserrat,sans-serif;font-size:1rem;font-weight:300;border:none;position:relative;transition:.3s ease-in-out;z-index:300}.category #button .cover{position:absolute;top:0;width:100%;height:100%;background:linear-gradient(to right,#fff 50%,transparent 50%) top,linear-gradient(to left,#fff 50%,transparent 50%) bottom;background-repeat:no-repeat;background-size:100% 2px;transition:.3s ease-in-out}.category #button .cover:after{right:0;bottom:0}.category #button .cover:before{left:0;top:0}.category #button .button button:hover{cursor:pointer;background-color:#00ff78;color:#000;scale:1.1;box-shadow:0 0 25px 3px #00fF788d;transition:.3s ease-in-out}.category #button .button:hover+.cover{scale:1.1;opacity:0;transition:.3s ease-in-out}

/* Elements with an effect */

.category .book img:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}
.category .book a #title {
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
}


@keyframes rotate-gradient {
    from {
        background-position: 0%;
    }
    to {
        background-position: 100%;
    }
}

.category .book:hover #title {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
    background-image: linear-gradient(90deg, rgba(196,134,255,1) 0%, rgba(123,123,227,1) 50%, rgba(131,194,255,1) 100%);
    animation-name: rotate-gradient;
    animation-duration: 3s;
    background-size: 200%;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.category .book:hover #by {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
    background-image: linear-gradient(90deg, rgba(0,128,255,1) 0%, rgba(0,234,235,1) 100%);
    animation-name: rotate-gradient;
    animation-duration: 3s;
    background-size: 200%;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.category .book:hover #price {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
    background-image: linear-gradient(90deg, rgba(0,234,235,1) 0%, rgba(0,255,120,1) 100%);
    animation-name: rotate-gradient;
    animation-duration: 3s;
    background-size: 200%;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* Footer */

footer {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0F0F0F;
    position: relative;
}

.footer_title h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    margin: 1rem 0;
    /* https://codepen.io/ananyaneogi/pen/Bgozrz */
    text-shadow: 0 0 5px #890DFF, 0 0 15px #890DFF, 0 0 20px #890DFF, 0 0 40px #890DFF, 0 0 60px #0080FF, 0 0 10px #0C0CE8, 0 0 98px #0080FF;
    color: #0CE8E8;
}

.footer_title p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
    margin: 0;
    margin-bottom: 1.5rem;
    color: #fff;
}

.social_networks {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 1rem 0;
    padding: 0;
}

.social_networks .icon {
    width: 2rem;
    height: 2rem;
    color: #fff;
    display: block;
    transition: all 0.3s ease-in-out;
}

.footer_list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 50%;
    height: 30%;
    margin: 1rem 0;
}

.footer_info ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:flex-start;
    margin: 0;
    padding: 0;
}

.footer_info ul h3 {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0.5rem 0;
    color: #fff;
}

.footer_info ul li {
    margin: 0.3rem 0;
}

.footer_info ul a {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    margin: 5rem 0;
    color: #fff;
}

/* Elements with an effect */

.social_networks .icon.facebook:hover {
    color: #3b5998;
}

.social_networks .icon.twitter:hover {
  color: #1da1f2;
}

.social_networks .icon.pinterest:hover {
  color: #bd081c;
}

.social_networks .icon.instagram:hover {
    color: #DD2A7B;
}

.social_networks .icon.youtube:hover {
  color: #ff0000;
}

.footer_info ul a:hover {
    color: #0CE8E8;
    text-shadow: 0 0 5px #0daaff, 0 0 15px #0daaff, 0 0 20px #0daaff, 0 0 40px #0daaff, 0 0 60px #00ff80, 0 0 10px #0ce8c0, 0 0 98px #00ff80;
}



/* Mobile version of the website */

@media only screen and (max-width: 768px) {
    /* Header */
    .header_nav {
        display: none;
        position: absolute;
        z-index: 100;
        width: 100%;
        height: 22rem;
        background-color: #0F0F0F;
        top: 3.8rem;
        left: 0;
    }
    
    .header_nav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        height: 100vh;
        margin: 0;
        padding: 0;
        list-style: none;
        position: absolute;
        top: -50%;
        left: 0;
        transition: 0.3s;
    }

    header {
        position: relative;
    }

    .header_logo .search_bar {
        display: none;
    }

    .header_logo img{
        display: none;
    }
    .header_logo .mobile_logo {
        display: block;
        width: 10%;
        margin-right: 6rem;
    }
    #search_icon {
        display: block;
    }

    #hamburger_icon {
        display: block;
        position: absolute;
        top: 30%;
        left: 18%;
        color: #ffffff;
        width: 2rem;
        height: 2rem;
        outline: transparent;
        border: none;
        transition: 0.3s; /* add a smooth transition when changing the color */
        z-index: 100;
    }
    .header_logo svg {
        width: 2rem;
        height: 2rem;
    }
    #shopping_cart_icon {
        padding-top: 0.2rem;
        padding-left: 0.25rem;
        width: 2.2rem;
        height: 2.2rem;
    }

    .book_banner {
        display: none;
    }

    /* Elements with an effect */
    #hamburger_icon:hover + .header_nav, .header_nav:hover {
        display: block;
    }


    /* Category */
    .category .title .title_1{
        text-align: center;
        font-size: 1.8rem;
        font-weight: 500;
    }
    .category .title .title_2{
        text-align: center;
        font-size: 1.8rem;
        font-weight: 500;
    }
    .category .title .title_3{
        text-align: center;
        font-size: 1.8rem;
        font-weight: 500;
    }
    .category .title .title_4{
        text-align: center;
        font-size: 1.8rem;
        font-weight: 500;
    }

    .category .book_list {
        width: 100%;
        height: 26rem;
        overflow: scroll;
    }
    .category .book {
        height: 24rem;
    }

    .category #title {
        font-size: 1rem;
        font-weight: 500;
        text-align: center;
    }
    
    .category #by {
        font-size: 0.6rem;
        font-weight: 300;
        text-align: center;
    }
    
    .category #price {
        font-family: 'Montserrat', sans-serif;
        font-size: 0.8rem;
        font-weight: 500;
        text-align: center;
    }

    .category #button .button button {
        padding: 0.3rem 1rem;
        font-family: 'Montserrat', sans-serif;
        font-size: 0.7rem;
        font-weight: 400;
    }
    .category #button .cover {
        background-size:100% 1px;
    }
    .category #button .cover:after {
        width  : 1px;
    }
    .category #button .cover:before {
        width  : 1px;
    }

    /* Footer */
    .footer_title p {
        margin: 0rem 1rem 1.5rem;
    }

    .footer_list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        margin: 1rem;
    }

    .footer_info ul {
        align-items: center;
    }
}