* {
    box-sizing: border-box;
}

/* Colors:
    #890DFF - purple
    #0C0CE8 - dark blue
    #0080FF - blue
    #00EAEB - cyan
    #00FF78 - green
 */

body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-color: black;
    color:white;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: white;
}

ul {
    margin: 0;
}

li {
    list-style: none;
    padding-inline-start: 0;
}

main {
    position: relative;
    background: #0f0f0f;
    background-image: repeating-linear-gradient(
      to bottom,
      transparent 7px,
      rgba(0, 0, 0, 0.8) 9px,
      rgba(0, 0, 0, 0.8) 13px,
      transparent 13px
    ); 
}

/* Header */

header {
    background-color: #0F0F0F;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: larger;
    border-bottom: 0.5vh ridge #000000;
    
}

.header_logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    position: relative;
    padding: 1rem 1.5rem 0.5rem;
    align-items: center;
    gap: 1rem;
}

.header_logo img {
    width: 25%;
}

.header_logo .mobile_logo {
    display: none;
}

.header_logo .search_bar {
    width: 35rem;
    height: 2.5rem;
    border-radius: 1.3rem;
    outline: transparent;
    margin-right: 2rem;
    border: none; 
    font-size: 1.2rem;
    padding: 0.5rem 1.25rem;
    background-color: #f1f1f1;
    justify-items: center;
    font-family: 'Quicksand', sans-serif;
    margin-left: auto;
    transition: all 0.3s ease-in-out;
}
.header_logo svg {
    color: #ffffff;
    width: 3rem;
    height: 3rem;
    outline: transparent;
    border: none;
    transition: 0.3s; /* add a smooth transition when changing the color */
  }

#shopping_cart_icon {
    padding-top: 0.4rem;
    padding-left: 0.45rem;
    width: 3.2rem;
    height: 3.2rem;
  }
.header_nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0 6rem;
    margin: 0;
}

.header_nav ul li {
    position: relative;
}

.header_nav ul li a {
    display: inline-block;
    position: relative;
    padding: 1rem;
}

/* Elements with an effect */

.header_logo .search_bar:hover{
    box-shadow: 0px 0px 15px 2px #adadad8d;
}

.header_logo .search_bar:focus {
    scale: 1.1;
    box-shadow: 0px 0px 15px 2px #adadad8d;
}

#search_icon {
    display: none;
}

#hamburger_icon {
    display: none;
}

#heart_icon:hover {
    color: rgb(255, 69, 69);
    transition: all 0.3s ease-in-out;
}

#shopping_cart_icon:hover {
    color: rgb(0, 226, 0);
    transition: all 0.3s ease-in-out;
}

#user_icon:hover {
    color: rgb(93, 93, 255);
    transition: all 0.3s ease-in-out;
}

.header_nav ul li a:after{    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #0DFFF8;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
.header_nav ul li a:hover:after { 
    width: 100%; 
    left: 0; 
  }
.header_nav ul li a:hover {
    color: #0DFFF8;
    transition: all 0.3s ease-in-out;
 }

/* Breadcrumb & Title */

.breadcrumb ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
    padding-top: 1rem;
}

.breadcrumb ul li {
    display: inline-block;
    position: relative;
    padding: 0 1rem;
}

.breadcrumb ul li:not(:last-child) {
    border-right: 1px solid #fff;
}

.breadcrumb ul li a {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 300;
}

.breadcrumb ul li:not(:last-child) a {
    color: #8d8d8d;
}

/* Overview */

.overview {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1rem 6rem 4rem;
    margin: 0;
    position: relative;
}

.overview:before {
    content: "";
    position: absolute;
    bottom: 0.2%;
    width: 85%;
    height: 0.5vh;
    background: #1f1f1f;
}

.main_photo {
    position: relative;
}

.main_photo img {
    height: 35rem;
    box-shadow: 0px 3px 25px 3px #0080ff8d;
}

.sub_photo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0.5rem;
}

.sub_photo .photo {
    margin: 0.5rem;
    width: 6rem;
    height: 6rem;
    opacity: 80%;
    border: solid 0.2rem #3b3b3b;
}

.sub_photo .photo:first-child {
    margin-top: 0;
}

.short_description {
    margin-left: 2rem;
}

#title {
    font-family: 'Quicksand', sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
    text-align: left;
    margin: 0.5rem auto;
    transition: all 0.3s ease-in-out;

}

#by {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    font-weight: 300;
    text-align: left;
    margin: 0.5rem auto 0rem;
}

#by strong {
    font-weight: 500;
}

#date {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    font-weight: 300;
    text-align: left;
    margin: 0.5rem auto 0rem;
}

#price {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    width: 100%;
    margin: 1rem auto 0rem;
    padding-left: 0;
}

#price p{
    font-family: 'Quicksand', sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    text-align: left;
    margin: 0 1rem;
}

#price .number {
    margin-left: 0;
    font-size: 2rem;
}

#price li:last-child {
    border-left: 2px solid #fff;
}

.add_to_cart {
    margin: 1rem auto 0rem;
}

/* Buttons */

.all_buttons {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 1.5rem 0rem 0rem;
    padding: 0;
    align-items: flex-start;
}

.native-select {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

.quantity-select__select {
    min-width: 55px;
    border-radius: 2px;
    border: 1px solid #d7d7d7;
    padding-right: 11px;
    padding-left: 7px;
    height: 3rem;
    letter-spacing: .2px;
    background-color: #000000;
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.native-select__select {
    appearance: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
    padding-left: 0.8rem;
}

.quantity-select__arrow {
    position: relative;
    left: -1.4rem;
}

.all_buttons ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

.common-button, [class^=common-button--], [class*=" common-button--"] {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0.75rem 1.875rem 0.813rem;
    background-color: #fff;
    border: 0;
    border-radius: 2px;
    color: #000;
    line-height: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.163rem;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    width: 28rem;
    margin: 0rem 2rem 1rem;
    transition: all 0.3s ease-in-out;
}

.common-button--ghost {
    border: 2px solid #d7d7d7;
    padding: 11px 29px 12px;
    background-color: #0e0e0e;
    color: #fff;
}

/* Elements with an effect */

.quantity-select__select:focus {
    outline: none;
}

.quantity-select__select:hover {
    cursor: pointer;
    box-shadow: 0px 0px 15px 2px #adadad8d;
}

.common-button:hover {
    box-shadow: 0px 0px 15px 2px rgb(35, 146, 83);
    background-image: linear-gradient(90deg, rgba(198,255,218,1) 0%, rgba(76,255,155,1) 22%, rgba(0,206,112,1) 50%, rgba(76,255,155,1) 76%, rgba(198,255,218,1) 100%);
    animation-name: rotate-gradient;
    animation-duration: 3s;
    background-size: 200%;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.common-button--ghost:hover {
    border: none;
    scale: 1;
    color: #000;
    box-shadow: 0px 0px 15px 2px rgb(146, 35, 35);
    background-image: linear-gradient(90deg, rgba(255,165,165,1) 0%, rgba(255,91,91,1) 22%, rgba(255,33,33,1) 50%, rgba(255,91,91,1) 76%, rgba(255,165,165,1) 100%);
    animation-name: rotate-gradient;
    animation-duration: 3s;
    background-size: 200%;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* Description */

.long_description {
    display: flex;
    flex-direction: row;
    padding: 1rem 6rem 4rem;
    margin: 0;
    position: relative;
}

.long_description:before {
    content: "";
    position: absolute;
    bottom: 0.2%;
    width: 85%;
    height: 0.5vh;
    background: #1f1f1f;
}

.long_description article {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1.5rem;
}

.long_description article h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
}

.long_description .about {
    flex: 1;
    padding-right: 4rem;
}

.long_description .details_reviews {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.long_description .details_specs + .media_reviews{
    flex: 1;
}


/* Category */

.extras {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 0;
    background: #0f0f0f;
    background-image: repeating-linear-gradient(
      to bottom,
      transparent 7px,
      rgba(0, 0, 0, 0.8) 9px,
      rgba(0, 0, 0, 0.8) 13px,
      transparent 13px
    );
    padding: 0 0 4rem;
  }

.extras:before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0.5vh;
    background: #1f1f1f;
}

.extras .title {
    display: flex;
    flex-direction: row;
    left: 0;
    width: 100%;
    padding: 3rem 6rem;
}

.extras .title .title_4 {
    font-family: 'Quicksand', sans-serif;
    font-size: 2.5rem;
    font-weight: 500;
    margin: 0;
    /* https://codepen.io/ananyaneogi/pen/Bgozrz */
    text-shadow: 0 0 5px #FF010A, 0 0 15px #FF010A, 0 0 20px #FF010A, 0 0 40px #FF010A, 0 0 60px #FF7F05, 0 0 10px #EB3800, 0 0 98px #FF7F05;
    color: #ffb5b5;
}


.extras .book_list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0rem 6rem;
}

.extras .book {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: calc((100% / 5) - 4rem);
    height: 27rem;
    transition: all 0.3s ease-in-out;
}

.extras .book img {
    width: 100%;
    object-fit: fill;
    aspect-ratio: 6 / 9;
    box-shadow: 0px 3px 25px 3px #0080ff8d;
    transition: all 0.3s ease-in-out;
}

.extras #title {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    text-align: center;
    margin: 1.5rem auto 0.5rem;
    transition: all 0.3s ease-in-out;

}

.extras #by {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.7rem;
    font-weight: 200;
    text-align: center;
    margin: 0 auto;
}

.extras #price {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    justify-content: center;
}

.extras #button .cover:after,.extras #button .cover:before{content:"";position:absolute;z-index:300;width:1px;height:50%;background:#fff;transition:.3s ease-in-out}.extras #button{position:relative}.extras #button .button{z-index:300}.extras #button .button button{background-color:transparent;color:#fff;padding:.5rem 1rem;font-family:Montserrat,sans-serif;font-size:0.8rem;font-weight:300;border:none;position:relative;transition:.3s ease-in-out;z-index:300}.extras #button .cover{position:absolute;top:0;width:100%;height:100%;background:linear-gradient(to right,#fff 50%,transparent 50%) top,linear-gradient(to left,#fff 50%,transparent 50%) bottom;background-repeat:no-repeat;background-size:100% 1px;transition:.3s ease-in-out}.extras #button .cover:after{right:0;bottom:0}.extras #button .cover:before{left:0;top:0}.extras #button .button button:hover{cursor:pointer;background-color:#00ff78;color:#000;scale:1.1;box-shadow:0 0 25px 3px #00fF788d;transition:.3s ease-in-out}.extras #button .button:hover+.cover{scale:1.1;opacity:0;transition:.3s ease-in-out}

/* Elements with an effect */

.extras .book img:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}
.extras .book a #title {
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
}


@keyframes rotate-gradient {
    from {
        background-position: 0%;
    }
    to {
        background-position: 100%;
    }
}

.extras .book:hover #title {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
    background-image: linear-gradient(90deg, rgba(196,134,255,1) 0%, rgba(123,123,227,1) 50%, rgba(131,194,255,1) 100%);
    animation-name: rotate-gradient;
    animation-duration: 3s;
    background-size: 200%;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.extras .book:hover #by {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
    background-image: linear-gradient(90deg, rgba(0,128,255,1) 0%, rgba(0,234,235,1) 100%);
    animation-name: rotate-gradient;
    animation-duration: 3s;
    background-size: 200%;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.extras .book:hover #price {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
    background-image: linear-gradient(90deg, rgba(0,234,235,1) 0%, rgba(0,255,120,1) 100%);
    animation-name: rotate-gradient;
    animation-duration: 3s;
    background-size: 200%;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* Footer */

footer {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0F0F0F;
    position: relative;
}

.footer_title h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    margin: 1rem 0;
    /* https://codepen.io/ananyaneogi/pen/Bgozrz */
    text-shadow: 0 0 5px #890DFF, 0 0 15px #890DFF, 0 0 20px #890DFF, 0 0 40px #890DFF, 0 0 60px #0080FF, 0 0 10px #0C0CE8, 0 0 98px #0080FF;
    color: #0CE8E8;
}

.footer_title p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
    margin: 0;
    margin-bottom: 1.5rem;
    color: #fff;
}

.social_networks {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 1rem 0;
    padding: 0;
}

.social_networks .icon {
    width: 2rem;
    height: 2rem;
    color: #fff;
    display: block;
    transition: all 0.3s ease-in-out;
}

.footer_list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 50%;
    height: 30%;
    margin: 1rem 0;
}

.footer_info ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:flex-start;
    margin: 0;
    padding: 0;
}

.footer_info ul h3 {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0.5rem 0;
    color: #fff;
}

.footer_info ul li {
    margin: 0.3rem 0;
}

.footer_info ul a {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    margin: 5rem 0;
    color: #fff;
}

/* Elements with an effect */

.social_networks .icon.facebook:hover {
    color: #3b5998;
}

.social_networks .icon.twitter:hover {
  color: #1da1f2;
}

.social_networks .icon.pinterest:hover {
  color: #bd081c;
}

.social_networks .icon.instagram:hover {
    color: #DD2A7B;
}

.social_networks .icon.youtube:hover {
  color: #ff0000;
}

.footer_info ul a:hover {
    color: #0CE8E8;
    text-shadow: 0 0 5px #0daaff, 0 0 15px #0daaff, 0 0 20px #0daaff, 0 0 40px #0daaff, 0 0 60px #00ff80, 0 0 10px #0ce8c0, 0 0 98px #00ff80;
}



/* Mobile version of the website */

@media only screen and (max-width: 768px) {
    main {
        padding-top: 1rem;
    }
    /* Header */
    .header_nav {
        display: none;
        position: absolute;
        z-index: 100;
        width: 100%;
        height: 22rem;
        background-color: #0F0F0F;
        top: 3.8rem;
        left: 0;
    }
    
    .header_nav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        height: 100vh;
        margin: 0;
        padding: 0;
        list-style: none;
        position: absolute;
        top: -50%;
        left: 0;
        transition: 0.3s;
    }

    header {
        position: relative;
    }

    .header_logo .search_bar {
        display: none;
    }

    .header_logo img{
        display: none;
    }
    .header_logo .mobile_logo {
        display: block;
        width: 10%;
        margin-right: 6rem;
    }
    #search_icon {
        display: block;
    }

    #hamburger_icon {
        display: block;
        position: absolute;
        top: 30%;
        left: 18%;
        color: #ffffff;
        width: 2rem;
        height: 2rem;
        outline: transparent;
        border: none;
        transition: 0.3s; /* add a smooth transition when changing the color */
        z-index: 100;
    }
    .header_logo svg {
        width: 2rem;
        height: 2rem;
    }
    #shopping_cart_icon {
        padding-top: 0.2rem;
        padding-left: 0.25rem;
        width: 2.2rem;
        height: 2.2rem;
    }

    .book_banner {
        display: none;
    }

    /* Elements with an effect */
    #hamburger_icon:hover + .header_nav, .header_nav:hover {
        display: block;
    }

    /* Breadcrum */

    .breadcrumb ul {
        align-items: center;
        justify-content: center;
        margin-top: 0;
        padding: 0;
    }

    .breadcrumb ul li a {
        font-size: 0.7rem;
        font-weight: 300;
    }

    /* Overview */
    .overview {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 1rem 6rem 4rem;
        margin: 0;
        position: relative;
    }

    .main_photo img {
        height: 25rem;
        box-shadow: 0px 3px 25px 3px #0080ff8d;
    }

    .sub_photo {
        flex-direction: row;
    }

    .sub_photo .photo {
        width: 5rem;
        height: 5rem;
        opacity: 80%;
        border: solid 0.2rem #3b3b3b;
    }

    .sub_photo .photo:first-child {
        margin-top: 0.5rem;
    }

    .short_description {
        margin: 0;
        width: 150%;
    }

    #title {
        font-family: 'Quicksand', sans-serif;
        font-size: 1.7rem;
        font-weight: 500;
        text-align: center;
        margin: 0.5rem auto;
        transition: all 0.3s ease-in-out;

    }

    #by {
        font-family: 'Montserrat', sans-serif;
        font-size: 0.7rem;
        font-weight: 300;
        text-align: center;
        margin: 0.5rem auto 0rem;
    }

    #by strong {
        font-weight: 400;
    }

    #date {
        font-family: 'Montserrat', sans-serif;
        font-size: 0.8rem;
        font-weight: 300;
        text-align: center;
        margin: 0.5rem auto 0rem;
    }

    #price {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: left;
        width: 100%;
        margin: 1rem auto 0rem;
        padding-left: 0;
    }

    #price p{
        font-family: 'Quicksand', sans-serif;
        font-size: 0.9rem;
        font-weight: 500;
        text-align: left;
        margin: 0 1rem;
    }

    #price .number {
        margin-left: 0;
        font-size: 1.5rem;
    }

    #price li:last-child {
        border-left: 2px solid #fff;
    }

    .add_to_cart {
        margin: 1rem auto 0rem;
    }

    /* Buttons */

    .all_buttons {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 1.5rem 0rem 0rem;
        padding: 0;
        align-items: center;
    }
    .native-select {
        justify-content: center;
        margin-bottom: 1rem;
    }

    .native-select__select {
        font-size: 1.5rem;
        padding-left: 1.5rem;
        padding-right: 4rem;
    }

    .quantity-select__arrow {
        position: relative;
        left: -2rem;
    }
    

    .common-button, [class^=common-button--], [class*=" common-button--"] {
        padding: 0.75rem 1.875rem 0.813rem;
        line-height: 1.5rem;
        font-family: 'Montserrat', sans-serif;
        font-size: 1rem;
        font-weight: 500;
        letter-spacing: 0.163rem;
        width: 15rem;
        margin: 0rem 2rem 1rem;
    }
    
    /* Description */

    .long_description {
        display: flex;
        flex-direction: column;
        padding: 1rem 3rem 4rem;
        margin: 0;
        position: relative;
        text-align: center;
    }

    .long_description:before {
        width: 75%;
    }

    .long_description .about {
        padding: 0;
    }
    /* Category */
    .extras .title .title_1{
        text-align: center;
        font-size: 1.8rem;
        font-weight: 500;
    }
    .extras .title .title_2{
        text-align: center;
        font-size: 1.8rem;
        font-weight: 500;
    }
    .extras .title .title_3{
        text-align: center;
        font-size: 1.8rem;
        font-weight: 500;
    }
    .extras .title .title_4{
        text-align: center;
        font-size: 1.8rem;
        font-weight: 500;
    }

    .extras .book_list {
        width: 100%;
        height: 26rem;
        overflow: scroll;
    }
    .extras .book {
        height: 24rem;
    }

    .extras .book:last-child {
        display: none;
    }

    .extras #title {
        font-size: 1rem;
        font-weight: 500;
        text-align: center;
    }
    
    .extras #by {
        font-size: 0.6rem;
        font-weight: 300;
        text-align: center;
    }
    
    .extras #price {
        font-family: 'Montserrat', sans-serif;
        font-size: 0.8rem;
        font-weight: 500;
        text-align: center;
    }

    .extras #button .button button {
        padding: 0.3rem 1rem;
        font-family: 'Montserrat', sans-serif;
        font-size: 0.7rem;
        font-weight: 400;
    }
    .extras #button .cover {
        background-size:100% 1px;
    }
    .extras #button .cover:after {
        width  : 1px;
    }
    .extras #button .cover:before {
        width  : 1px;
    }

    /* Footer */
    .footer_title p {
        margin: 0rem 1rem 1.5rem;
    }

    .footer_list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        margin: 1rem;
    }

    .footer_info ul {
        align-items: center;
    }
}